//background
$cor-bg-pri:#000000;
$cor-bg-sec:#151515;

//font-color
//white
$whi-1:#f1f1f1;
$whi-2:#e0e0e0;
$whi-3:#ACACAC;
//blue
$blue:#08cefe;
//fade
$fade:rgba(29,29,29,.7);
$fade-l:rgba(160, 160, 160, 0.2);

// $dark:{
//     $cor-bg-pri:#000000,
//     $cor-bg-sec:#151515,

//     //font-color
//     //white
//     $whi-1:#f1f1f1,
//     $whi-2:#e0e0e0,
//     $whi-3:#ACACAC,
//     //blue
//     $blue:#08cefe,
//     //fade
//     $fade:rgba(29,29,29,.7)
// }